<ion-content  padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img style="font-weight: 800;max-width:150px;margin-left: 80px" src="assets/img/test.png" class="logo" alt="Car Care Logo" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Login form -->
  <form [formGroup]="onLoginForm" class="list-form">
     
    <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" color="dark">
          <ion-icon name="globe" item-start color="dark"></ion-icon>
          Url
        </ion-label>
        <ion-input color="dark" type="text" formControlName="url" border-color="light"></ion-input>
      </ion-item>
    <p ion-text *ngIf="onLoginForm.get('url').touched && onLoginForm.get('url').hasError('required')">
      <ion-text color="warning">
        Required Field
      </ion-text>
    </p>

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="dark">
        <ion-icon name="person" item-start color="dark"></ion-icon>
        Username
      </ion-label>
      <ion-input color="dark" type="text" formControlName="username" border-color="light"></ion-input>
    </ion-item>
    <p ion-text *ngIf="onLoginForm.get('username').touched && onLoginForm.get('username').hasError('required')">
      <ion-text color="warning">
        Required Field
      </ion-text>
    </p>

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="dark">
        <ion-icon name="lock" item-start color="dark"></ion-icon>
        Password
      </ion-label>
      <ion-input color="dark" type="password" formControlName="password"></ion-input>
    </ion-item>
    <p ion-text color="warning"
      *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
      <ion-text color="warning">
        Required Field
      </ion-text>
    </p>
   
  </form>

  <div>
    <ion-button icon-left size="medium" expand="full" shape="round"
      style="color:primary;font-weight: 800;margin-top:10px" (click)="authorizeLogin()" color="primary"
      [disabled]="!onLoginForm.valid" tappable>
      Login
    </ion-button>
    
  </div>

  <div class="copyright">  
    Copyright@2019<ion-text color="primary"> BizCrm</ion-text> 
    <p>Version 1.0</p>  
  </div>

</ion-content>