<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>   
    <ion-list lines="none"> 
      <ion-item href="javascript:void(0)" *ngFor="let module of modules;let i = index">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label *ngIf="module.isEntity"> {{ module.label }}</ion-label>
      </ion-item>     
    </ion-list>
</ion-content>
